spring:
  application:
    name: woof-user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/woof_user
    driverClassName: org.postgresql.Driver
    username: parth
    password: password
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
